In [2]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
tf.__version__

'2.0.0'

In [4]:
import pandas as pd

In [5]:
data  = pd.read_csv('train.csv')

In [6]:
y_train = data.iloc[:,0]

In [7]:
y_train

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [8]:
x_train = data.iloc[:,1:]

In [9]:
x_train

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#feature scaling

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
sc  = StandardScaler()

In [20]:
x_train = sc.fit_transform(x_train)

In [21]:
print(x_train)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
classifier = RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)

In [24]:
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [25]:
y_pred = classifier.predict(x_train)

In [27]:
len(y_pred)

42000

In [29]:
x_test = pd.read_csv('test.csv')

In [30]:
y_pred = classifier.predict(x_test)

In [31]:
len(y_pred)

28000

In [32]:
y_pred

array([0, 0, 8, ..., 8, 8, 0], dtype=int64)

In [33]:
temp = pd.DataFrame(y_pred)

In [34]:
temp

       0
0      0
1      0
2      8
3      0
4      8
...   ..
27995  8
27996  8
27997  8
27998  8
27999  0

[28000 rows x 1 columns]

In [35]:
index = temp.index.values +1

In [36]:
data = {'ImageId':index, "Label" : y_pred}

In [37]:
data

{'ImageId': array([    1,     2,     3, ..., 27998, 27999, 28000], dtype=int64),
 'Label': array([0, 0, 8, ..., 8, 8, 0], dtype=int64)}

In [38]:
data  = pd.DataFrame(data)

In [39]:
data

       ImageId  Label
0            1      0
1            2      0
2            3      8
3            4      0
4            5      8
...        ...    ...
27995    27996      8
27996    27997      8
27997    27998      8
27998    27999      8
27999    28000      0

[28000 rows x 2 columns]

In [40]:
data.to_csv("submissionFile.csv",index=False)